html{
    background: rgb(241, 254, 241);
}
.container{
    height: 300px;
    width: 300px;
    margin: 10px auto;
    padding: 10px 10px;
    background: rgb(171, 255, 200);
}

/* Genral Button design */
button {
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 10%;
    border: none;
    background: rgb(255, 255, 255);
}

button:hover{
    background: rgba(234, 233, 233);
}

button:active{
    background: rgba(218, 217, 217, 0.831);
}

 .title{
    color:red;
    border: 1px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: goldenrod;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#plus-btn {
    color: red;
    float: left;
    margin: auto;
}

#minus-btn, #minus-btn2{
    color: blue;
    float: right;
margin: auto;
}
